
<!--
    uses a "headings" string array, containing the titles of the column
    uses a "column" dictionary?
        has "style" int for style, 0-9, or default for any other value
        has "title" string for the title of the row
        has "contents" string array, for the contents of each row
-->
<table class="table table-hover">
    <thead>
        <tr>
            {% for h in headings %}
            <th scope="col" >{{h}}</th>
            {% endfor %}
            <th scope="col">Detalles</th>
        </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        {% if   row.style == 0 %}
        <tr class="table-primary">
        {% elif row.style == 1 %}
        <tr class="table-secondary">
        {% elif row.style == 2 %}
        <tr class="table-active">
        {% elif row.style == 3 %}
        <tr class="table-success">
        {% elif row.style == 4 %}
        <tr class="table-danger">
        {% elif row.style == 5 %}
        <tr class="table-warning">
        {% elif row.style == 6 %}
        <tr class="table-info">
        {% elif row.style == 7 %}
        <tr class="table-light">
        {% elif row.style == 8 %}
        <tr class="table-dark">
        {% else %}
        <tr>
        {% endif %}
            <th scope="row">{{row.title}}</th>
            {% for column in row.contents %}
            <td>{{column}}</td>
            {% endfor %}
            <td><a href={% url row.url pk=row.pk %}>
                    <button type="button" class="btn btn-primary btn-sm">Detalles</button>
            </a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>