<!--
    uses "selected" string to indicate first selected tab
    uses "items" dictionary, it has:
        title string
        content string
-->
<ul class="nav nav-tabs" role="tablist">
    {% for i in items %}
        <li class="nav-item" role="presentation">
            {% if selected == i.title %}
            <a class="nav-link active" data-bs-toggle="tab" href="#{{i.title}}" aria-selected="true" role="tab">
            {% else %}
            <a class="nav-link" data-bs-toggle="tab" href="#{{i.title}}" role="tab">
            {% endif %}
            {{ i.title }}
            </a>
        </li>
    {% endfor %}
</ul>

<div id="myTabContent" class="tab-content">
    {% for i in items %}
        {% if selected == i.title %}
        <div class="tab-pane fade active show" id="{{i.title}}" role="tabpanel">
        {% else %}
        <div class="tab-pane fade" id="{{i.title}}" role="tabpanel">
        {% endif %}
            {{ i.content }}
        </div>
    {% endfor %}
</div>