<!--
    uses "selected" string to indicate first selected tab
    uses "items" dictionary, it has:
        title string
        content string
-->
<ul class="nav nav-tabs" role="tablist">
    {% for i in items %}
    <li class="nav-item" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" href="#{{i.title}}" role="tab">
            {{ i.title }}
        </a>
    </li>
    {% endfor %}
</ul>
<div id="myTabContent" class="tab-content">
    {% for i in items %}
    <div class="tab-pane fade active show" id="{{i.title}}" role="tabpanel">
        {{ i.content }}
    </div>
    {% endfor %}
</div>